<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap-icons-1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Layout.css" rel="stylesheet" />

    <script src="~/Scripts/bootstrap.bundle.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.6.1.js"></script>

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="normal_navbar">
        <nav class="navbar navbar-expand-lg first-navbar">
            <div class="container px-5">
                <div class="logo">
                    <a class="logo-link" href="@Url.Action("Index", "Home")">
                        <div class="title">
                            <div class="logo-zh-cn">會員系統及新聞頁面</div>
                            <div class="logo-en">Member System And News</div>
                        </div>
                    </a>
                </div>
                <div class="login">
                    <a class="home-signin-btn" href="@Url.Action("Index", "Home")"><i class="bi bi-house-door-fill"></i>HOME</a>
                    <a class="home-signin-btn" id="signin-btn" href="@Url.Action("SignIn", "Member")"><i class="bi bi-person-lock"></i>SIGN IN</a>
                    <div class="sign-out-area" id="sign-out-area" hidden="hidden">
                        <div class="sign-out-btn-text" id="sign-out-btn-text"></div>
                        <a class="sign-out-btn" id="sign-out-btn">登出</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div>
        @RenderBody()

        <footer class="footer mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto mx-auto flex-center-layout">
                        <a class="copy-right m-0 text-white">Copyright © WEI CHEN LIU, 2024</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    $(document).ready(function (e) {
        SignInOrNot();
    })

    function SignInOrNot() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("SignInOrNot", "Member")",
            data: "",
            success: function (result) {
                if (result == "OK") {
                    $("#signin-btn").attr("hidden", "hidden");
                    $("#sign-out-area").removeAttr("hidden");
                    $("#sign-out-btn-text")[0].innerHTML = `<i class="bi bi-person-lock"></i>` + decodeURIComponent(getCookie("Name"));
                    $("#add-news-btn").removeAttr("hidden");
                }
            },
            error: function (err) {
                alert(err);
            }
        })
    }

    $("#sign-out-btn").click(function (e) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("SignOut", "Member")",
            data: "",
            success: function (result) {
                location.href = "@Url.Action("Index", "Home")";
            },
            error: function (err) {
                alert(err);
            }

        })
    })


</script>
